# NOTE:
# * When specifying the GEODATA_PASSWORD (or ORACLE_PASSWORD) it can NOT be longer than 16 characters;
#   this is a limitation of the default password policy in Oracle.
#   For SQL Server the password must be at least 8 characters long and contain characters from three of
#   the following four sets: Uppercase letters, Lowercase letters, Base 10 digits, and Symbols.
#
# * if you have set GEOSERVER_DATA_DIR in your local environment make sure to override that when
#   creating and deploying this stack
#
name: tailormap-data

volumes:
  postgis-db:
  sqlserver-db:
  oracle-db:
  geoserver-data:
  geoserver-build-cache:


networks:
  tailormap-data:
    name: tailormap-data
  tailormap-viewer:
    name: tailormap-viewer
    external: true
  traefik:
    name: traefik
    external: true

services:
  postgis:
    container_name: postgis
    image: docker.b3p.nl/tailormap/tailormap-data_postgis:snapshot
    build:
      context: postgis
    environment:
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-fa6efb5b-075b-4b7b-aab0-96108cd77e76}
      GEODATA_PASSWORD: ${GEODATA_PASSWORD:-07d8313e-75b1-45}
    volumes:
      - postgis-db:/var/lib/postgresql
    ports:
      - "${BIND_IP:-127.0.0.1}:5432:5432"
    networks:
      - tailormap-data
      - tailormap-viewer
    labels:
      traefik.enable: false
    healthcheck:
      interval: 1m
      timeout: 5s
      retries: 5
      start_period: 20s
      test: su postgres -c pg_isready
    restart: unless-stopped


  sqlserver:
    container_name: sqlserver
    image: docker.b3p.nl/tailormap/tailormap-data_sqlserver:snapshot
    build:
      context: sqlserver
    environment:
      SA_PASSWORD: ${SA_PASSWORD:-fa6efb5b-075b-4b7b-aab0-96108cd77e76}
      GEODATA_PASSWORD: ${GEODATA_PASSWORD:-07d8313e-75b1-45}
      ACCEPT_EULA: Y
    volumes:
      - sqlserver-db:/var/opt/mssql
    ports:
      - "${BIND_IP:-127.0.0.1}:1433:1433"
    networks:
      - tailormap-data
      - tailormap-viewer
    labels:
      traefik.enable: false
    healthcheck:
      interval: 1m
      timeout: 5s
      retries: 5
      start_period: 20s
      test: /opt/mssql-tools18/bin/sqlcmd -No -U sa -P $$SA_PASSWORD -Q "select 1" -b -o /dev/null
    restart: unless-stopped


  oracle:
    container_name: oracle
    image: docker.b3p.nl/tailormap/tailormap-data_oracle:snapshot
    build:
      context: oracle
    environment: # Note Oracle has default maximum password length of 16!
      ORACLE_PASSWORD: ${ORACLE_PASSWORD:-fa6efb5b-075b-4b}
      # this user is created in XEPDB1, not in XE
      APP_USER: "geodata"
      APP_USER_PASSWORD: ${GEODATA_PASSWORD:-07d8313e-75b1-45}
      GEODATA_PASSWORD: ${GEODATA_PASSWORD:-07d8313e-75b1-45}
    volumes:
      - oracle-db:/opt/oracle/oradata
    ports:
      - "${BIND_IP:-127.0.0.1}:1521:1521"
    networks:
      - tailormap-data
      - tailormap-viewer
    labels:
      traefik.enable: false
    healthcheck:
      interval: 1m
      timeout: 5s
      retries: 5
      start_period: 2m
      test: healthcheck.sh
    restart: unless-stopped


  geoserver-builder: # use maven to build a war overlay of geoserver
    image: tailormap/tailormap-data_geoserver-builder
    build:
      context: geoserver
      target: BUILDER
    restart: "no"
    network_mode: none
    labels:
      traefik.enable: false
    volumes:
      - geoserver-build-cache:/root/.m2


  geoserver:
    depends_on:
      - geoserver-builder
      - postgis
      - oracle
      - sqlserver
    container_name: geoserver
    image: docker.b3p.nl/tailormap/tailormap-data_geoserver:snapshot
    build:
      context: geoserver
      target: GEOSERVER
      args:
        GEOSERVER_DATA_DIR: ${GEOSERVER_DATA_DIR:-/opt/geoserver-data}
    environment:
      GEOSERVER_DATA_DIR: ${GEOSERVER_DATA_DIR:-/opt/geoserver-data}
      GEOSERVER_NODE_OPTS: "id:Tailormap Data Geoserver;background:#6236ff;color:white"
      GEOSERVER_ADMIN_PASSWORD: ${GEOSERVER_ADMIN_PASSWORD:-geoserver}
      GEODATA_PASSWORD: ${GEODATA_PASSWORD:-07d8313e-75b1-45}
      GEOSERVER_CSRF_WHITELIST: ${GEOSERVER_CSRF_WHITELIST:-snapshot.tailormap.nl}
      GEOSERVER_CSRF_DISABLED: ${GEOSERVER_CSRF_DISABLED:-false}
    volumes:
      - geoserver-data:${GEOSERVER_DATA_DIR:-/opt/geoserver-data}
    ports:
      - "${BIND_IP:-127.0.0.1}:8080:8080"
    networks:
      - tailormap-data
      - tailormap-viewer
      - traefik
    labels:
      traefik.enable: true
      traefik.docker.network: traefik
      traefik.http.routers.tailormap-data.rule: "Host(`${HOST:-snapshot.tailormap.nl}`) && PathPrefix(`/geoserver`)"
      traefik.http.routers.tailormap-data.tls: "true"
      traefik.http.routers.tailormap-data.tls.certresolver: "letsencrypt"
      traefik.http.services.tailormap-data.loadbalancer.server.port: "8080"
    #    healthcheck:
    #      test: curl -f -u admin:$$GEOSERVER_ADMIN_PASSWORD -H "accept:application/json" http://localhost:8080/geoserver/rest/about/version || exit 1
    #      interval: 1m30s
    #      timeout: 10s
    #      retries: 3
    #      start_period: 1m
    restart: unless-stopped

  tiles3d-proxy:
    image: traefik:3.6.7
    container_name: traefik-tiles3d-proxy
    restart: unless-stopped
    networks:
      - traefik
    entrypoint: /bin/sh -c 'echo "$$DYNAMIC_CONFIG" > /dynamic.yml && /entrypoint.sh $$CMD'
    environment:
      TZ: "Europe/Amsterdam"
      CMD: >-
        --providers.file.filename=/dynamic.yml
        --entryPoints.web.address=:80
        --log.level=INFO
      DYNAMIC_CONFIG: |-
        http:          
          routers:
            proxy-router:
              rule: "PathPrefix(`/`)"
              service: proxy-service
              middlewares: [set-headers, add-prefix]
          middlewares:
            set-headers:
              headers:
                customRequestHeaders:
                  Host: "api.pdok.nl"
                  Authorization: ""
            add-prefix:
              addPrefix:
                prefix: /kadaster/3d-basisvoorziening/ogc/v1_0/collections/gebouwen
          services:
            proxy-service:
              loadBalancer:
                servers:
                  - url: https://api.pdok.nl
    labels:
      traefik.enable: true
      traefik.http.routers.tailormap-data-tiles3d-proxy.rule: "Host(`${HOST:-snapshot.tailormap.nl}`) && PathPrefix(`/tiles3d-proxy/`)"
      traefik.http.routers.tailormap-data-tiles3d-proxy.tls: "true"
      traefik.http.routers.tailormap-data-tiles3d-proxy.tls.certresolver: "letsencrypt"
      traefik.http.routers.tailormap-data-tiles3d-proxy.middlewares: tailormap-data-tiles3d-proxy-stripprefix,tailormap-data-tiles3d-proxy-auth
      traefik.http.middlewares.tailormap-data-tiles3d-proxy-stripprefix.stripprefix.prefixes: "/tiles3d-proxy"
      traefik.http.middlewares.tailormap-data-tiles3d-proxy-auth.basicauth.users: "b3p:$$2y$$05$$5fsAqN08V93IdrB4IQfSQu6Fgnh2R982.ktljz945bFcND9TkjkHO"
      traefik.http.services.tailormap-data-tiles3d-proxy.loadbalancer.server.port: "80"